
.chiaro
{
background-color:#2c2d31;
min-height: 74px;
border-radius:20px;
padding-left:10px;
padding-right:16px;
padding-top:12px;
padding-bottom:12px;
}

.scuro
{
background-color:#252525;
min-height: 74px;
border-radius:20px;
padding-left:10px;
padding-right:16px;
padding-top:12px;
padding-bottom:12px;
}
